/* Application UI Theme - JavaFX CSS */

/* region > General Styling */

* {
    /* Color constants */
    -ui-primary: #f5f5f5; /* whitesmoke */
    -ui-primary-soft: #e6e6e6;
    -ui-secondary: #696969; /* dimgray */
    -ui-secondary-soft: #808080;
}

.root {
    -fx-border-width: 1px;
    -fx-border-color: -ui-secondary;

    -fx-background-color: -ui-primary;

    -fx-font-family: "Roboto Mono";
}
/* endregion */

/* region > Special Styling */

.scale-large {
    -fx-font-size: 2em;
}

.driving-area-border {
    -fx-border-width: 1px;
    -fx-border-color: -ui-secondary;
    -fx-border-radius: 16px;

    -fx-background-color: linear-gradient(to bottom right, -ui-primary, -ui-primary-soft, -ui-primary);
    -fx-background-radius: 16px;
}

.driving-area {
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 300px auto;
    -fx-background-repeat: repeat;
    -fx-cursor: crosshair;
}
/* endregion */

/* region > General Controls Styling */

.tool-bar,
.titled-pane .title,
.combo-box,
.button,
.text-field {
    -fx-border-width: 1px;
    -fx-border-color: -ui-secondary;
    -fx-border-radius: 8px;

    -fx-background-color: linear-gradient(to bottom, -ui-primary, -ui-primary-soft);
    -fx-background-radius: 8px;
}

.combo-box:disabled,
.button:disabled,
.text-field:disabled {
    -fx-opacity: 0.5;
}
.combo-box:disabled .list-cell {
    /* Prevent double opacity from parent combo-box */
    -fx-opacity: 1.0;
}
/* endregion */

/* region > TitledPane Styling */

.titled-pane .title {
    -fx-font-weight: bold;
    -fx-text-fill: -ui-secondary;
}
.titled-pane:expanded .title {
    -fx-border-radius: 8px 8px 0 0;

    -fx-background-radius: 8px 8px 0 0;
}

.titled-pane .content {
    -fx-border-width: 1px;
    -fx-border-color: -ui-secondary;
    -fx-border-radius: 0 0 8px 8px;

    -fx-background-color: -ui-primary;
    -fx-background-radius: 0 0 8px 8px;
}
/* endregion */

/* region > ComboBox Styling */

.combo-box {
    -fx-cursor: hand;
}
.combo-box:hover,
.combo-box:focused {
    -fx-background-color: linear-gradient(to bottom, -ui-secondary-soft, -ui-secondary);
}
.combo-box:showing {
    -fx-border-radius: 8px 8px 0 0;

    -fx-background-color: linear-gradient(to bottom, -ui-secondary, -ui-secondary-soft);
    -fx-background-radius: 8px 8px 0 0;
}

.combo-box .arrow {
    -fx-background-color: -ui-secondary;
}
.combo-box:hover .arrow,
.combo-box:focused .arrow,
.combo-box:showing .arrow {
    -fx-background-color: -ui-primary;
}

.combo-box .list-cell {
    -fx-font-weight: bold;
    -fx-text-fill: -ui-secondary;
}
.combo-box:hover .list-cell,
.combo-box:focused .list-cell,
.combo-box:showing .list-cell {
    -fx-text-fill: -ui-primary;
}

.combo-box .list-view {
    -fx-border-width: 1px;
    -fx-border-color: -ui-secondary;
    -fx-border-radius: 0 0 8px 8px;

    -fx-background-color: -ui-primary;
    -fx-background-radius: 0 0 8px 8px;
}

.combo-box .list-view .list-cell {
    -fx-background-color: transparent;
    -fx-cursor: hand;

    -fx-font-weight: normal;
    -fx-text-fill: -ui-secondary;
}
.combo-box .list-view .list-cell:hover,
.combo-box .list-view .list-cell:focused {
    -fx-font-weight: bold;
}
/* endregion */

/* region > Button Styling */

.button {
    -fx-padding: 4px 8px;

    -fx-cursor: hand;

    -fx-font-weight: bold;
    -fx-text-fill: -ui-secondary;
}
.button:hover,
.button:focused {
    -fx-background-color: linear-gradient(to bottom, -ui-secondary-soft, -ui-secondary);

    -fx-text-fill: -ui-primary;
}
.button:pressed,
.button:armed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;

    -fx-background-color: linear-gradient(to bottom, -ui-secondary, -ui-secondary-soft);
}
/* endregion */

/* region > TextField Styling */

.text-field {
    -fx-font-weight: normal;
    -fx-text-fill: -ui-secondary;
}
/* endregion */

/* region > Label Styling */

.label {
    -fx-font-weight: bold;
    -fx-text-fill: -ui-secondary;
}
/* endregion */
